<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?php echo '<link rel="stylesheet" href="'._TEMPLATE_DIR.'/dsg_def/css/style.css">' ?>
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="menu">
        <div class="logo"><log>DSG</log>Peers</div>
        <ul>
            <li class="item"><a href="#">Torrent</a></li>
            <li class="item"><a href="#">Upload</a></li>
            <li class="item"><a href="#">Forum</a></li>
            <li class="item"><a href="#">Requests</a></li>
            <li class="item"><a href="#">About</a></li>
        </ul>
        <div class="account-menu">
            <div class="ava-circle"></div>
            <div class="username">Admin</div>
        </div>
    </div>
</div>